* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Caveat", cursive;
  font-family: "Satisfy", cursive;

  --fuente-caveat: "Caveat", cursive;
  --fuente-satisfy: "Satisfy", cursive;
  --color-fondo: rgba(238, 64, 194, 0.11);
  --color-primario: rgba(238, 64, 194, 0.3);
  --color-secundario: rgba(238, 130, 194, 0.3);
  --color-sombra: rgba(44, 44, 44, 0.11);

  --brillo-hover: 0 0 60px 10px rgba(233, 233, 233, 0.8);
}

body {
  font-size: 1.6rem;
  background-color: var(--color-fondo);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

body::-webkit-scrollbar:hover {
  transition-duration: 500ms;
  background-color: var(--color-secundario);
}

body::-webkit-scrollbar-track:hover {
  background-color: var(--color-sombra); /* color tracking area */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primario); /* color puntas */
  border-radius: 20px; /* circunferencia puntas */
  border: 3px solid var(--color-fondo); /* creates padding around scroll thumb */
}

/*---------------------->HEADER<---------------------- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin: 5 auto;

  width: 100%;
  min-height: 30px;
  min-width: 235px;
  height: 10vh;
}

.nav_button__button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-family: "Satisfy";
  vertical-align: middle;
  align-content: center;
}

.nav_button__button:hover {
  transform: scale(1.2);
  transition-duration: 500ms;
  cursor: pointer;
  box-shadow: var(--brillo-hover);
}

.button__img {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  vertical-align: middle;
}

.button__img-about {
  background-image: url(assets/svg/about.svg);
}
.button__img-instagram {
  background-image: url(assets/svg/instagram.svg);
}
.button__img-email {
  background-image: url(assets/svg/email.svg);
}
.button__img-carrito {
  background-image: url(assets/svg/Carrito-compras.svg);
}

/*---------------------->FIN HEADER<---------------------- */

/*---------------------->MAIN<---------------------- */
main {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main--contenedor_grilla {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  width: 75vw;

}

.section--grilla_servicios {
  min-width: 150px;
  min-height: calc(150px * 90 / 70);
  width: calc(70vw / 3);
  height: calc(90vw / 3);

  margin: 5px;

  border-radius: 15px;

  background-repeat: no-repeat;
  background-size: cover;
}

/* TODO: modificar esta propiedad al aumentar tamaño de pantalla */
.main--contenedor_grilla:hover > .section--grilla_servicios:not(:hover){
  filter: blur(2px);
}


.section--grilla_servicios:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
  box-shadow: var(--brillo-hover);
  cursor: pointer;
}
.card-data {
  width: calc(70vw / 3);
  height: fit-content;
  background-color: rgb(151, 133, 147);
  filter: blur(12px);
}

.card-title,
.card-info,
.precio {
  font-family: var(--fuente-caveat);
  color: rgba(238, 232, 232, 0.925);
}

.grilla_servicios__box1 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=1);
}

.grilla_servicios__box2 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=20);
}
.grilla_servicios__box3 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=30);
}
.grilla_servicios__box4 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=40);
}
.grilla_servicios__box5 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=50);
}
.grilla_servicios__box6 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=60);
}
.grilla_servicios__box7 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=70);
}
.grilla_servicios__box8 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=80);
}
.grilla_servicios__box9 {
  background-image: url(https://source.unsplash.com/random/450x800/?nails&img=90);
}

/*---------------------->FIN MAIN<---------------------- */
